// Specific CSS for your home-page
.banner-home{
    background-image:    asset-url('Background-home2.jpg');
    background-size:     cover;
    background-position: center;
    width:               100vw;
    height:              calc( 100vh - 66px );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container h2 {
    color:#011028;
    margin-bottom: 16px;
}

.inner {
  overflow: hidden;
}
.inner img {
  height: 250px;
  transition: all 1.5s ease;
}

.inner:hover img {
  transform:scale(1.5);
}

.buton-explore {
color: white;
  padding: 7px 10px;
  border-radius: 4px;
  background: linear-gradient(#02245C, #011028);
  transition: background 0.3s ease;
  border: 1px solid #02245C;
  text-decoration: none;
}

.buton-explore:hover {
background: linear-gradient(#033FA0, #02245C);
text-decoration: none;
color: white;
}
