.icon-color {
  color: #02245C;
}

.container-title-index{
  margin: 10px;
  width: 100vh;
}

.title-index {
  color: #02245C;
  padding-top: 50px;
}

.index-infos{
    width: 800px;
    margin: 80px 60px 40px 60px;
  }

a{
  text-decoration: none;
}

.info-resort-description{
  font-size: 14px;
}

/* ------- Georges's index --------- */

.card{
  height: 500px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgba(80, 137, 145, 0.4);
}

.card:hover {
  border: 1px solid rgba(80, 137, 145, 1);
}

.card-choose {
  margin: 15px;
}

.container-title{
  color: #02245C;
}

.container h5 {
  text-align: center;
  color: #02245C;
  margin-top: 10px;
  font-size: 24px;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 15px;
  position: absolute;
  margin-left: -25px;

}

.green-tick{
  color: rgb(1, 255, 1);
}

.photo {
width: 280px;
height: 160px;
position: relative;
margin-top: -8px;
margin-left: -6px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.answer {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.localisation {
  color: white;
}
