.icon-color {
  color: #02245C;
}

.container-title-index-all{
  margin: 10px;
  width: 100vh;
}

.title-index-all{
  color: #02245C;

}

.index-infos-all{
    width: 800px;
    margin: 80px 60px 40px 60px;
    color: white;
    text-shadow: -1px 0 #02245C, 0 1px #02245C, 1px 0 #02245C, 0 -1px #02245C;
    font-weight: bold;
  }

a{
  text-decoration: none;
}

.info-resort-description{
  font-size: 14px;
}


.banner-index-all{
  background-image:    asset-url('background_all_resorts.jpg');
  background-size:     cover;
  background-position: center;
  width:               100vw;
  height:              100vh;
  background-repeat: no-repeat;
}

.info-picto-description{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #02245C;
  margin-top: 5px;
}

.titre_h4_go{
  color: #02245C;
  margin: 20px;
  margin-top: -5px;
  font-size: 32px;
}


/* ------- Georges's index --------- */

.card-choose {
  margin: 15px;
}

.george_h5 {
  text-align: center;
  color: #02245C;
  margin-top: 10px;
  font-size: 24px;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 15px;
  position: absolute;
  margin-left: -15px;
  margin-top: -170px;
}

.photo {
width: 280px;
height: 160px;
position: relative;
margin-top: -8px;
margin-left: -6px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.answer {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.localisation {
  color: white;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
  position:absolute;
  top: 25px;
  right: 30px;
}


.title-index{
  color: #02245C;
  padding-top: 50px;
}

.index-infos{
    width: 800px;
    margin: 80px 60px 40px 60px;
  }

