.back-cta{
  margin-top: 30px;
}

.description{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}

.title-description{
  margin-bottom: 20px;
  color: #02245C;
  font-weight: bold;
}

.text-infos{
  font-size: 20px;
}

.pictogramme-color {
  color: #02245C;
  font-size: 20px;
  padding: 20px;
}

.massif-position{
  padding-bottom: 250px;

}
.massif-show{
  font-size: 20px;
  font-weight: bold;
  color: #011028;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  text-align: center;

}

.resort-title{
  font-size: 60px;
  font-weight: bold;
  color: #011028;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  text-align: center;
}



body{
  background-color:white;
}

.pictogramme{
  padding: 20px;
}

.localisation-show {
  font-size: 16px;
  font-weight: bold;
  opacity: .9;
  margin-bottom: 20px;
  margin-top: 20px;
  position:absolute;
  top: 55px;
  right: 130px;
  z-index: 9999;
}

.slopes-title {
  position:relative;
}
.slopes-colors{
  position:absolute;
  left: 80px;
}

.photo-caroussel{
height: 100vh;
width: 100vw;
background-size: cover;
background-position: center;
}

.container-show{
  margin: 0 auto;
  width: 90vw;
}

.bi-chevron-double-down {
  font-size: 52px;
  font-weight: bold;
  opacity: .9;
  color: #011028;
  margin-bottom: -480px;
}

@media(max-width: 620px) {
  .back-cta {
    width: 300px;
  }
.localisation-show{
  display:none;
}

.photo-caroussel{
height: 100vh;
width: 100vw;
background-size: cover;
background-position: center;
}

  }
