.pictogramme-color {
  color: #02245C;
  font-size: 20px;
  padding: 20px;
}
.pictogramme {
  background-color: #FCFCFC;
  font-weight: bold;
}



.slopes{
  position:relative;
}

body{
  background-color:white;
}

.circle-green{
  color: #09BC8A;
}

.circle-blue{
  color: #02245C;
}
.circle-red{
  color: red;
  opacity: .7;
}

.pictogramme{
  padding: 20px;
}

.localisation-show {
  font-size: 16px;
  font-weight: bold;
  opacity: .9;
  margin-bottom: 20px;
  margin-top: 20px;
  position:absolute;
  bottom: 130px;
  right: 30px;

}

.resort-title{
  padding-bottom: 20px;
  font-weight: bold;
  color: #02245C;
}

.slopes-title {
  position:relative;
}
.slopes-colors{
  position:absolute;
  left: 80px;

}

.photo-caroussel{
height: 100vh;
width: 100vw;
background-size: cover;
}

.container-show{
  margin: 0 auto;
  width: 90vw;
}
