<div class="banner-home d-flex justify-content-center align-items-center">
  <%= link_to "GO", new_preference_path, class: "buton-primary" %>
</div>

<div class="container">

  <div class="card-activities-info">
    <div class="activity-info">
    <h1>Plongez sous la glace</h1>
    <p>Vous êtes amateur de sensations fortes ? </br>
      Vivez une véritable aventure et un voyage hors temps sous la glace...</p>
    </div>
  </div>
</div>
