<div class="container-georges">
  <div class="ecran-interface-george">
    <div class="ecran-interface-george2">
      <% 30.times do %>
        <div class="border-radius-10px bg-white w-50 p-2 m-2">
          Bonjour, comment tu t'appelles ?
        </div>
        <div class="d-flex justify-content-end ">
          <div class="border-radius-10px bg-blue w-50 p-2 m-2">
            Bonjour, je m'appelle Amandyne :)
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
