//Button_home_page

.buton-primary {
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#033FA0, #02245C);
    transition: background 0.3s ease;
    border: 1px solid #02245C;
    text-decoration: none;
  }
  
  .buton-primary:hover {
    background: linear-gradient(#02245C, #011028);
    text-decoration: none;
    color: white;
  }
  