.card-product{
  overflow: hidden;
  height: 220px;
  width: 900px;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgba(80, 137, 145, 0.4);
  transition: .3s;
}

.card-product img {
  height: 210px ;
  width: 280px;
  padding-left:5px;
}



.card-product:after{
  content: 'Text affiche lors du hover';
  text-align: center;
  display: block;
  background: white;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1,1,0,100deg);
  transition: .4s;
  position: absolute;
  left: 20px;
  right: 20px;
}
.card-product:hover:after{
  opacity: .9;
  transform: rotate3d(0,0,0,0deg);
}

.localisation {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position:absolute;
  top: 20px;
  right: 30px;
}

.card-product .card-product-infos {
  padding: 16px;
}
