
.container-show{
  margin: 0px auto;
  width: 700px;
}

.card-station{
  height: 60vw;
  width: 90vw;
  padding-top: 30px;
  display:grid;
  grid-template-rows: 1fr 1fr;
  position:relative;


}
.card-station-info{
  height: 90vh;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;

}

.card-station-cta{
  display:grid;
  grid-template-columns: 2fr 1fr;
}
.button-website{
  justify-content:center;
  align-items:center;
}

.buton-primary{

}
.slopes-pictogramme{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-around;
  padding-left: 30px;

}
.total-slopes{
  font-weight: bold;
  font-size: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.size-picto{
  width: 64px;
  height: 64px;
}
.green-blue-slopes{
  display:flex;
  justify-content: space-around;
}

.red-black-slopes{
  display:flex;
  justify-content: space-around;
}

.green-slopes{
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color:#09BC8A;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.blue-slopes{
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color:#02245C;
  opacity: .7;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.red-slopes{
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color:red;
  opacity: .7;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.black-slopes{
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color:black;
  opacity: .7;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.infos-pictogramme{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-between;
  padding-left: 30px;
}
.altitude {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.snowpark{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.kilometers-slopes{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}
