.card-activity {
  width: 16rem; 
  height: 32rem;
}

//Cards_home_page

.card-title{
  color:#011028;
  font-size: 22px;
}

.card-text{
  color:#02245C;
  font-size: 14px;
}

.title h1 {
  color: white;
  font-size: 32px;
  text-shadow: #02245C 1px 0 10px;

}