.card-activity {
  height: 32rem;
  border: 1px solid rgba(80, 137, 145, 0.4);
}

.card-activity:hover {
  border: 1px solid rgba(80, 137, 145, 1);
}

//Cards_home_page

.card-title{
  color:#011028;
  font-size: 22px;
}

.card-text{
  color:#02245C;
  font-size: 16px;
}

.title h1 {
  color: white;
  font-size: 32px;
  text-shadow: #02245C 1px 1px 5px;

}
