.card-product{
  overflow: hidden;
  height: 220px;
  width: 93vw;
  display: flex;
  align-items: center;
  position: relative;
  transition: .3s;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.9);
  border: 2px solid white;
}


.card-product .img-resort {
  height: 210px ;
  width: 350px;
  padding-left:5px;
}

.card-product:after{
  content: "Plus d'infos";
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 16px;
  color:#02245C;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1,1,0,100deg);
  transition: .4s;
  position: absolute;
  left: 20px;
  right: 20px;
  text-decoration: none;
}
.card-product:hover:after {
  opacity: .9;
  transform: rotate3d(0,0,0,0deg);
}

.card-product:hover .link {
  opacity: 1;

}

.localisation-all {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position:absolute;
  top: 25px;
  right: 30px;


}

.localisation-mountains {
  font-size: 16px;
  font-weight:bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position:absolute;
  top: 50px;
  right: 80px;
  color: #02245C;


}

.card-product .card-product-infos {
  padding: 10px;
  font-size: 12px;
}
.titre_h4{
  color: #02245C;
}

@media(max-width: 600px) {

  .card-product .card-product-infos {
  padding: 10px;
  font-size: 8px;
  height: 90px;
  width: 70vw;
}

.localisation-all {
  font-size: 5px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position:absolute;
  top: 20px;
  right: 30px;
}

.card-product{
  height: 90px;
  width: 70vw;

}

.card-product img {
  height: 80px ;
  width: 100px;
  padding-left:5px;
}

}


