
.container-georges {
  background-image: asset-url('background-georges.00000000.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn-georges:hover {
  background-color: white;
  box-shadow: 2px 4px 10px white;
}

.ecran-interface-george {
  width: 30% ;
  height: 85%;
  background-color: rgba(255,255,255,0.6);
  border: 2px solid white;
  border-radius: 15px;
  overflow: scroll;
  position: relative;
  margin-top: 100px;
  /*position: absolute;
  right: 600px;
  bottom: 30px;
  width: 30%;
  height: 80%;*/
}

.ecran-interface-george2 {
  width:    100%;
  position: absolute;
  bottom:   8px;
}

@media(max-width: 1440px) {
  .ecran-interface-george {
    right: 50px;
    bottom: 20px;
    width: 40%;

  }
}

@media(max-width: 1200px) {
  .ecran-interface-george {
    right: 20px;
    bottom: 20px;
    width: 40%;
  }
}

@media(max-width: 900px) {
  .ecran-interface-george {
    right: 20px;
    bottom: 20px;
    width: 40%;

  }
}

@media(max-width: 620px) {
  .ecran-interface-george {
    right: 5%;
    width: 90%;
    bottom: 10px;
    height: 90%;
  }
}

