
.container-georges {
  background-image: asset-url('background-georges.00000000.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.btn-georges-question {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 20px;
  padding: 8px 16px;
}

#preference_visitor_name {
  border-radius: 50px;
  background: white;
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
  text-align: center;
  width: 80%;
  &:hover {
    background:white;
  }
}

.btn-georges {
  background: linear-gradient(15deg, #3A99DC 0%, #3A90DC 74%);;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
  color: white;
  border-radius: 50px;
  padding: 8px 16px;
  transition: background 0.3s ease;
}

.btn-georges:hover {
  color: black;
  background: white;
  box-shadow: 2px 4px 10px white;
}

.ecran-interface-george {
  width: 450px ;
  height: 85vh;
  background-color: rgba(255,255,255,0.6);
  border: 2px solid white;
  border-radius: 15px;
  overflow: scroll;
  position: relative;
  margin-top: 100px;
}

.spacer{
  height: 60vh;
}

.ecran-interface-george2 {
  width:    100%;
  position: absolute;
  bottom:   8px;
}


@media(max-width: 1440px) {
  .ecran-interface-george {

  }
}

@media(max-width: 1200px) {
  .ecran-interface-george {


  }
}

@media(max-width: 900px) {
  .ecran-interface-george {



  }
}

@media(max-width: 620px) {
  .ecran-interface-george {
    height: 75vh;
    width: 90%;
    bottom: 10px;
    margin-top: 100px;
    // position: fixed;
  }
}

