.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  .resort-name-window{
  font-style: italic;
  color:#02245C;
  }

  .text-window{
  font-weight: lighter;
  }

  .distance{
    color:#02245C;
  }
}

#map {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 8px;

}


