.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  .resort-name-window{
  font-style: italic;
  color:#02245C;
  }

  .text-window{
  font-weight: lighter;
  }

  .distance{
    color:#02245C;
  }
}

#map {
  position: absolute;
  top: -120px;
  right: -30px;
  border:2px white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;


}


