.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 8px;
  border: 1px solid #02245C;
}
