.container-navbar {
  position: absolute;
}

.navbar-lewagon {
  position: absolute;
  justify-content: flex-end;
  background-color: transparent;
  width: 100vw;
  top: 0;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  position: absolute;
  right: 20px;
  top: 30px;
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  position: absolute;
  width: 200px;
  left: 30px;
  top: 10px;
  z-index: 9999;
}
