.container-navbar {
  position: absolute;
}

.navbar-lewagon {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100vw;
  top: 0;
  height: 100px;
  z-index: 9999;
}
.container-avatar {
  width: 150px;
  display: flex;
  justify-content: flex-end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-skifind {
  /*position: absolute;*/
  /*size: 50px;*/
  /*left: 30px;*/
  /*top: 0px;*/
  max-width: 150px;
  z-index: 9999;
}

.taille-logo {
  width: 100px;
}

@media(max-width: 620px) {
  .logo-skifind {
    /*left: 25vw;*/
    // left: 15px;
    // top: 15px;
    height: 80px;
  }

  .container-avatar {
    width: 80px;
  }
  .navbar-toggler{
    position: absolute;
    right: 30px;
    top: 30px;
  }
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}


.avatar {
    background-size: cover;

    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: -10px;
}
