<div class="d-flex" style="position: relative;">
    <div class="text-center w-100"></div>
    <div style="position: absolute; right: 22px; top: 32px; font-weight: bold;"><%= resort[1] %> %</div>
    <canvas id="myChart<%= resort[0].id %>" width="200" height="200" ></canvas>

</div>
