<div class="container-title"></div>
  <div class="title">
    <h1>Unique stays</h1>
    <p>No reservation costs! Great Rates!</br>
      Manage your bookings. Sign-in for the best MyIgloo experience. </br>
      Plan a different kind of getaway to uncover the hidden gems near you.</p>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <% @resorts.each do |resort|  %>
        <div class="card-product">
          <div class="card-product-infos">
              <%= image_tag resort.photo_asset, alt: "Tignes", width: 200 %>
              <p class="localisation"><i class="fas fa-map-marked-alt icon-color"></i> <%= resort.resort_address %></p>
              <h2><%= resort.resort_name %></h2>
              <p><%=  resort.resort_description%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
