<div class="container-title-index ">
  <div class="row">
    <div class="index-infos">
      <h1 class="title-index">Vos stations françaises</h1>
      <p>Retrouve toutes les stations disponibles!</br>
        Parcours skifind afin de trouver <strong>TA</strong> station préférée. </br>
        Mais si tu veux allier envies et skis, n'hésites pas à parler avec George!</p>
    </div>
  </div>
</div>


<%= render 'all_resorts'  %>
<%= render 'georges_resorts'  %>



